@font-face {
    font-family: 'Press2P';
    src: url('/assets/fonts/PressStart2P-Regular.ttf') format('truetype'),
         url('/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Example usage */
body {
    font-family: 'Press2P', sans-serif;
}