# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
.bundle/
vendor/bundle

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo