<section class="px-5 py-16 bg-zinc-900">
  <h2 class="relative mb-10 text-3xl text-center text-green-500">
    Services & Pricing
  </h2>
  <div
    id="contact"
    class="grid gap-5 px-5 py-0 mx-auto my-0 grid-cols-[repeat(auto-fit,minmax(300px,1fr))] max-w-[1200px] max-sm:grid-cols-[1fr]"
  >
    {% for service in site.data.services %}
    <article
      class="relative p-5 border border-green-500 border-solid transition-transform bg-neutral-800 duration-[0.3s] ease-[ease]"
    >
      <h3 class="mb-2.5 text-lg text-green-500">{{ service.name }}</h3>
      <p class="text-2xl text-white font-bold">
        <span>LKR </span>
        <span>{{ service.price }}</span>
      </p>
    </article>
    {% endfor %}
  </div>
</section>
